<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.macarthur.ross.hello</string>
	<key>connections</key>
	<dict>
		<key>C76E0C3A-5D9D-4E14-B3BE-DBB75052E51C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC708AE5-60D5-4A94-9B04-4D4483D03D77</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ross MacArthur</string>
	<key>description</key>
	<string>Hello Alfred!</string>
	<key>name</key>
	<string>hello-alfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DC708AE5-60D5-4A94-9B04-4D4483D03D77</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>hello</string>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>scriptfile</key>
				<string>hello-alfred</string>
				<key>title</key>
				<string>Search</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C76E0C3A-5D9D-4E14-B3BE-DBB75052E51C</string>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>C76E0C3A-5D9D-4E14-B3BE-DBB75052E51C</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>DC708AE5-60D5-4A94-9B04-4D4483D03D77</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
</dict>
</plist>